### Общие системные файлы ###
.DS_Store
Thumbs.db
*.log
logs/
tmp/
temp/
*.tmp
*.bak
python-*-amd64.exe

### Python ###
# Виртуальное окружение
venv/
.python312/
.env/
.venv/
env/
ENV/
virtualenv/
myvenv/

# Кэш и скомпилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Тестовые ковер-репорты
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

### Vue.js ###
# Зависимости
node_modules/

# Сборка
dist/
build/

# Тестовые кореры
coverage/

# Линтеры/тестеры
.eslintcache
.nyc_output/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### FastAPI специфика ###
# Файлы БД (если используете SQLite)
*.db
*.sqlite3
*.sqlite
database.db

# Файлы .env (никогда не коммитьте секреты!)
.env
.env.*
!.env.example
.secrets
traefik/acme.json
acme.json
docker-compose.override.yml

# Локальные данные Docker/SQLite
data/
bekend/room-sait/data/

# Новые файлы, загруженные через админку, должны жить в volume/backup, а не в git
bekend/room-sait/static/uploads/*
bekend/room-sait/static/icons/icon_*

# Логи приложения
logs/

### PyCharm ###
.idea/
*.iml

### VSCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
